<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout"
>
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card text-center shadow p-4" style="max-width: 600px;">
                    <div class="card-body">
                        <p class="display-1 text-danger fw-bold">403</p>
                        <p class="fs-5 text-secondary">Nincs jogod megtekinteni az oldalt.</p>
                        <a href="/" class="btn btn-primary">Vissza a főoldalra</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>